.create-post-container {
	margin-top: 10%;

	a {
		display: inline-block;
		margin-left: 2%;
		margin-bottom: 2%;
	}

	.link, .title, .description, .price {
		margin: 2% 0;

		span {
			display: inline-block;
			margin-right: 1%;
		}
	}

	.success {
		opacity: 0;
		transition: opacity 500ms;
	}

	.success.active {
		opacity: 1;
	}

	.error {
		opacity: 0;
		transition: opacity 500ms;
	}

	.error.active {
		opacity: 1;
	}
}