@import "../node_modules/bootstrap/scss/bootstrap";

.warning {
  display: none;

  .active {
    display: block;
  }
}

button {
  border: 1px solid black;
  border-radius: 3px;
  background-color: transparent;
  transition: background-color 500ms;

  &:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0, .1);
  }
}

h1, h2, h3, h4, h5, p {
  &:hover {
    cursor: default;
  }
}

body {
  position: relative;
  z-index: 1;
}