@media (max-width: 990px) {
	.navbar-collapse.active {
		position: absolute;
		top: 100%;
		width: 100%;
		border-bottom: 3px solid gray;
		z-index: 99;

		.nav-link {
			padding-left: 15px;
		}
	}
}

#navbarNav {
	outline: none;
	a {
		font-size: 1.4rem;
	}
}

.main-page {
	position: relative;
	height: 100%;

	.index-container {
		.twitter-icon-link {
			position: relative;
			text-decoration: none;
			.text {
				display: inline-block;
				position: relative;
				transform: translateY(-50%);
				color: black;
				font-size: 2rem;
			}
		}
		.picture-cont  {
			display: flex;
			justify-content: center;
		}
		p {
			button {
				background-color: transparent;
				border: none;
				text-decoration: underline;

				&:hover {
					cursor: default;
				}
			}
		}

		.pieces-link {
			font-size: 1.4rem;
			color: black
		}

		.subscribe-form-container {
			display: flex;
			flex-direction: column;
			width: 80%;
			margin: 2rem auto;
			text-align: center;
			border: 1px solid black;
			padding: .5rem;

			form {
				display: flex;
				flex-direction: column;

				input {
					padding: .5rem;
					font-size: 1.5rem;
					outline: none;
				}

				p {
					font-style: italic;
				}

				.waiting {
					margin: 1rem auto;
				}

				button {
					width: fit-content;
					margin: .5rem auto;
				}
			}

			.guarantee {
				font-size: .8rem;
			}
		}

		@media screen and (min-width: 480px) {
			.subscribe-form-container {
				width: 60%;
			}
		}

		.bottom-links {
			display: flex;

			a {
				margin-right: .5rem;
			}
		}
	}

	.post-show {
		position: relative;
		top: 100%;
		margin: 8% auto;
		transition: top 800ms;
	}
}

.main-page.active {
	.post-show {
		top: 0;
	}
}

.navbar-brand {
	background-color: transparent;
	border: none;
	margin-left: 2%;

	h3, p {
		&:hover {
			cursor: pointer;
		}
	}

	p {
		font-size: 3.5vw;
	}

	@media (min-width: 481px) {
		p {
			font-size: 1rem;
		}
	}

	&:hover {
		cursor: pointer;
		background-color: transparent;
	}
}

.navbar-toggler {
	margin: 0 15px;
}

.navbar-nav {
	align-items: center;

	li {
		height: fit-content;
	}

	li:last-child {
		margin: 1.5rem 0;
	}

	@media (min-width: 48em) {
		li:last-child {
			margin-top: 0;
			margin-left: 5rem;
		}
	}

	.nav-item.active a {
		color: black !important;
	}

 	h5 {
		margin: auto;
	}
}

.admin-container {
	margin-top: 2%;

	h1 {
		margin-top: 1%;
	}

	a {
		display: inline-block;
		margin-top: 2%;
		margin-right: 2%;
	}

	form {
		label {
			margin: 0 1%;
		}
		button {
			margin: 2% 0;
		}
	}
}

.send-email-container {
	form {
		display: flex;
		flex-direction: column;

		label {
			display: flex;
			flex-direction: column;
			margin-bottom: 1rem;

			textarea {
				min-height: 300px;
			}
		}

		button {
			width: fit-content;
			padding: .5rem 1rem;
		}
	}
}

.unsubscribe-container {
	.waiting.hidden {
		display: none;
	}

	.waiting.active {
		display: block;
	}

	.confirmed.hidden {
		display: none;
	}

	.confirmed.active {
		display: block;
	}
}

