.pieces-container {

	.explainer {
		display: flex;
		flex-direction: column;

		span {
			margin-top: .2rem;
		}
	}

	.piece-container {
		width: fit-content;

		.header-container {
			position: relative;
			display: flex;

			sup {
				top: .1rem !important;
				left: .5rem;
				font-size: 1.2rem;
				font-weight: bold;
				color: rgb(0, 0, 0, .6);
			}

			a {
				color: blue;
				text-decoration: underline;
				margin-left: 1rem;
			}
		}

		form {
			.warning {
				display: none;
			}

			.warning.show {
				display: block;
			}
		}

		.delete-button-container {

			.main-delete-btn.hide {
				display: none;
			}
		}

		h3 {
			display: flex;
			text-decoration: underline;

			&:hover {
				cursor: pointer;
			}
		}

		.sections-container {
			display: flex;
			flex-direction: column;
			margin-left: 1rem;
			height: 0;
			overflow: hidden;

			.section-container {
				display: flex;
			}

			.section-container > a {
				font-size: 1.4rem;
				margin-right: 1rem;
			}
		}

		.sections-container.open {
			height: 100%;
		}

		a {
			text-decoration: none;
			color: black;

			&:hover {
				cursor: pointer;
			}
		}

		.add-section-link {
			display: inline-block;
			color: blue;
			text-decoration: underline;
			margin-left: 3%;
		}

		.section-edit-link {
			margin-left: .5rem;
			text-decoration: underline;
		}
	}

	.piece-container.admin-mode {
		border: 1px solid gray;
		border-radius: 1rem;
		padding: 1rem;
	}
}