.pieces-container {

  .piece-container {
    width: fit-content;

    form {
      .warning {
        display: none;
      }
      
      .warning.show {
        display: block;
      }
    }

    .delete-button-container {
      display: flex;
      font-size: .6rem;
      align-self: center;

      .main-delete-btn.hide {
        display: none;
      }

      button {
        margin: 0 .1rem;
      }
    }
    
    h3 {
      display: flex;

      &:hover {
        cursor: pointer;
      }
    }

    .sections-container {
      display: flex;
      flex-direction: column;
      margin-left: 1rem;
      height: 0;
      overflow: hidden;

      .section-container {
        display: flex;
      }
    }

    .sections-container.open {
      height: 100%;
    }

    a {
      text-decoration: none;
      color: black;

      &:hover {
        cursor: pointer;
      }
    }

    .add-section-link {
      display: inline-block;
      color: blue;
      text-decoration: underline;
    }

    .section-edit-link {
      margin-left: .5rem;
      text-decoration: underline;
    }
  }
}