

.add-section-container {
  form {
    display: flex;
    flex-direction: column;

    input {
      margin-left: 1rem;
      margin-bottom: 1rem;
    }

    .text-input-container {
      border: 1px solid black;
      min-height: 50vh;
      padding: 1rem;
    }

    button {
      width: fit-content;
      padding: 1rem 2rem;
      margin: 1rem 0;
    }
  }
}