.single-section-container {

  .section-text,
  .section-text p,
  .section-text span {
    font-size: 1.4rem !important;
  }

  .all-pieces {
    font-size: 1.5rem;
    color: black;
  }

  h4 {
    text-align: center;
  }

  .links {
    display: grid;
    grid-template-columns: repeat(3, 2fr);

    a:first-child {
      grid-column: 1 / 1;
      text-align: left;
    }

    a:last-child {
      grid-column: 3 / 3;
      text-align: right;
    }

    a {
      visibility: hidden;
      color: black;
      font-size: 1.5rem;
    }

    a.show {
      visibility: visible;
    }
  }
}