.sympathy-item-form-container {
  margin-top: 10%;

  a {
    display: inline-block;
    margin-left: 2%;
    margin-bottom: 2%;
  }

  .input-container {
    position: relative;

    .loading {
      position: absolute;
      top: 45%;
      left: 25%;
    }    

    .string, .sympathy-amount {
      margin: 2% 0;
  
      span {
        display: inline-block;
        margin-right: 1%;
      }
  
      textarea {
        width: 40%;
      }
  
      .separate {
        margin-left: 1%;
        font-size: .75rem;
      }
    }
  }
  
  .sympathy-category {
    margin: 2% 0;

    > span {
      text-decoration: underline;
    }

    div {
      display: flex;
      flex-direction: column;

      input {
        margin-left: 1%;
      }
    }
  }

  .list-item {
    margin: 1% 0;
  }

  .create-btn {
    margin: 2% 0;
  }

  button {
    margin-right: 1%;
  }

  button.active {
    background-color: gray;
  }

  .update-btn {
    margin-left: 1%;
  }

  .success {
    opacity: 0;
    transition: opacity 500ms;
  }

  .success.active {
    opacity: 1;
  }

  .error {
    opacity: 0;
    transition: opacity 500ms;
  }

  .error.active {
    opacity: 1;
  }
}